.about-view .nav-bar-wrapper{
  background: linear-gradient(150deg, rgba(0, 222, 145, 1), rgba(0, 222, 145, 0.9));
}

.sectionTitleAbout{
  margin-top: 0rem;
  padding-top: 4.375rem !important;
}
.about-content{
  padding: 1.25rem 2.5rem;
}